* { box-sizing: border-box; margin: 0; padding: 0; }

body {
  font-family: 'Pinkfong Baby SharkOTF', 'Noto Sans KR', sans-serif;
  background: #FAF4EE;
  color: #222;
}

@font-face {
  font-family: 'Pinkfong Baby SharkOTF';
  src: local('Pinkfong Baby SharkOTF');
}
@font-face {
  font-family: 'Hakgyoansim Jayusigan R';
  src: local('Hakgyoansim Jayusigan R');
}
@font-face {
  font-family: 'Hakgyoansim Jayusigan OTF R';
  src: local('Hakgyoansim Jayusigan OTF R');
}
